.color {
    background-color:#9fdfbf;
}

body {
    background-color: #eafafa;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
h1{
    padding-top: 90px;
    padding-bottom:20px;
    font-family: Garamond;
    font-size: 350%;
}